<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="templates/jenis.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Proyek Akhir</title>
</head>
<body>
  <header>
    <div class="fContainer">
      <nav class="wrapper">
        <div class="brand">
          <div class="firstname">ManggoCare</div>
          <div class="lastname">AI</div>
        </div>
        <ul class="navigation">
          <li><a href="test.html #beranda" class="active">Beranda</a></li>
          <li><a href="test.html #Analisis Mangga" class="active">Analisis Mangga</a></li>
          <li><a href="#pohon mangga" class="active">Pohon Mangga</a></li>
          <li><a href="test.html #profile" class="active">Tentang Kami</a></li>
        </ul>
      </nav>
    </div>
    <div class="backgambar">
    <div class="gambar">
      <h4 class="manggo">"ManggoCare AI"</h4>
      <br>
      <p class="mango">"ManggoCare AI Adallah mitra terbaik petani mangga</p>
      <br>
      <p class="mango">kami membantu anda mencegah penyakit pohon mangga dengan cepat.</p>
      <p class="mango">kami ada disini untuk hasil panen yang lebih baik dan kebun mangga yang lebih sehat"</p>
    </div>
  </div>
  </header>
  <main>
    <div id="jenis penyakit" class="penyakitan">
        <div class="penyakit1">
            <h3>7 Penyakit di diagnosa pada Tanaman Mangga</h3>
        </div>
        <div class="isian">
            <img src="fixx.jpg" alt="">
        </div>
        <br>
        <div class="kotak1">
            <h3 class="nama-penyakit">Anthracnose pada Tanaman Mangga</h3>
            <p class="keterangan-penyakit">Anthracnose pada mangga disebabkan oleh jamur Colletotrichum Gloeosporioides. penyakit ini adalah
                salah satu penyakit jamur yang paling umum pada mangga.</p>
        </div>
        <br>
        <div class="kotak-gejala">
            <h3 class="gejala-penyakit">Gejala Penyakit</h3>
            <div class="kotak-keterangan-gejala">
                <h3 class="keterangan-gejala"> > Bercak-bintik:</h3>
                <p class="isi-gejala">asuuu</p>
            </div>
            <div class="kotak-keterangan-gejala">
                <h3 class="keterangan-gejala"> > Bercak-bintik:</h3>
                <p class="isi-gejala">asuuu</p>
            </div>
            <div class="kotak-keterangan-gejala">
                <h3 class="keterangan-gejala"> > Bercak-bintik:</h3>
                <p class="isi-gejala">asuuu</p>
            </div>
        </div>
        <br>
        <div class="kotak-penyebaran">
            <h3 class="penyebaran">Penyebaran:</h3>
            <p class="isi-penyebaran">Jamur Penyebab</p>
        </div>
        <br>
        <div class="kotak-dampak">
            <h3 class="dampak">Dampak: </h3>
            <p class="isi-dampak">Anthracnose dapat menyebabkan</p>
        </div>
        <br>
        <div class="kotak-pengendalian">
            <h3 class="pengendalian">Pengendalian:</h3>
            <div class="keterangan-pengendalian">
                <h3 class="isi-pengendalian">> Penyemprotan Fungisida:</h3>
                <p class="pengendalian-keterangan"> Penggunaan Fungisida</p>
            </div>
            <div class="keterangan-pengendalian">
                <h3 class="isi-pengendalian">> Penyemprotan Fungisida:</h3>
                <p class="pengendalian-keterangan"> Penggunaan Fungisida</p>
            </div>
            <div class="keterangan-pengendalian">
                <h3 class="isi-pengendalian">> Penyemprotan Fungisida:</h3>
                <p class="pengendalian-keterangan"> Penggunaan Fungisida</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="isian">
          <img src="fixx.jpg" alt="">
      </div>
      <br>
      <div class="kotak1">
          <h3 class="nama-penyakit">Anthracnose pada Tanaman Mangga</h3>
          <p class="keterangan-penyakit">Anthracnose pada mangga disebabkan oleh jamur Colletotrichum Gloeosporioides. penyakit ini adalah
              salah satu penyakit jamur yang paling umum pada mangga.</p>
      </div>
      <br>
      <div class="kotak-gejala">
          <h3 class="gejala-penyakit">Gejala Penyakit</h3>
          <div class="kotak-keterangan-gejala">
              <h3 class="keterangan-gejala"> > Bercak-bintik:</h3>
              <p class="isi-gejala">asuuu</p>
          </div>
          <div class="kotak-keterangan-gejala">
              <h3 class="keterangan-gejala"> > Bercak-bintik:</h3>
              <p class="isi-gejala">asuuu</p>
          </div>
          <div class="kotak-keterangan-gejala">
              <h3 class="keterangan-gejala"> > Bercak-bintik:</h3>
              <p class="isi-gejala">asuuu</p>
          </div>
      </div>
      <br>
      <div class="kotak-penyebaran">
          <h3 class="penyebaran">Penyebaran:</h3>
          <p class="isi-penyebaran">Jamur Penyebab</p>
      </div>
      <br>
      <div class="kotak-dampak">
          <h3 class="dampak">Dampak: </h3>
          <p class="isi-dampak">Anthracnose dapat menyebabkan</p>
      </div>
      <br>
      <div class="kotak-pengendalian">
          <h3 class="pengendalian">Pengendalian:</h3>
          <div class="keterangan-pengendalian">
              <h3 class="isi-pengendalian">> Penyemprotan Fungisida:</h3>
              <p class="pengendalian-keterangan"> Penggunaan Fungisida</p>
          </div>
          <div class="keterangan-pengendalian">
              <h3 class="isi-pengendalian">> Penyemprotan Fungisida:</h3>
              <p class="pengendalian-keterangan"> Penggunaan Fungisida</p>
          </div>
          <div class="keterangan-pengendalian">
              <h3 class="isi-pengendalian">> Penyemprotan Fungisida:</h3>
              <p class="pengendalian-keterangan"> Penggunaan Fungisida</p>
          </div>
    </div>
  </main>